@import "./mixins";

%h1 {
  font-family: var(--font-inter), sans-serif;
  font-size: VW(60);
  font-style: normal;
  font-weight: bold;
  line-height: 142%;
  text-transform: uppercase;
  letter-spacing: normal;
}

%body-text {
  font-family: var(--font-inter), sans-serif;
  font-size: VW(20);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.06vw;
}

.trailers-font {
  font-family: var(--font-trailers), sans-serif;
  font-weight: 800;
  font-size: VW(300);
  line-height: 70%;
  letter-spacing: -0.06vw;
}

.luxurios-font {
  font-family: var(--font-luxurios), sans-serif;
  // font-weight: 800;
  font-size: VW(300);
  line-height: 100%;
  letter-spacing: -0.4vw;

  color: black; /* Text color */
  text-shadow: 
  VW(3) 0 white,  
    VW(-3) VW(-3) 0 white,
  VW(3) VW(-3) 0 white,
    VW(-3) 0 white; 
}

%link {
  font-family: var(--font-luxurios), sans-serif;
  font-size: VW(48);
  letter-spacing: 0;
  line-height: 100%;
}

.small-text {
  font-size: VW(12);
  letter-spacing: -0.01vw;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase
}

.body {
  @extend %body-text;

  h1 {
    @extend %h1;
  }

  a {
    @extend %link;
  }
}
